.catalog {
  margin-bottom: 27px;

  @include md {
    margin-bottom: 76px;
  }

  @include xl {
    margin-bottom: 71px;
  }
}

.catalog__title {
  font-family: $font-oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: $color-black;
  margin-bottom: 40px;

  @include md {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 163px;
  }
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr;

  @include md() {
    grid-template-columns: repeat(2, 1fr);
    gap: 141px 60px;
  }

  @include xl() {
    grid-template-columns: repeat(4, 1fr);
    gap: 143px 80px;
  }
}

.catalog__list-item {
  padding: 20px 0 25px;
  display: flex;
  height: 209px;
  flex-direction: column;
  border-top: 1px solid rgba(235, 235, 235, 1);

  @include md() {
    height: 430px;
    // max-width: 324px;
    padding: 20px 37px 25px;
    border: none;

    &:not(:last-child) {
      background-color: $color-smoky-white;
    }
  }

  @include xl() {
    max-width: 245px;
  }

  a {
    display: flex;

    @include md {
      display: block;
    }
  }
}
